@media(max-width: 1024px) {
    .container {
        padding: 20px;
    }
}

    .container h1 {
        text-align: center;
    }

    .container .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .container .filter .cards-categories, .container .price-cards, .container .filter .button-filter {
        width: 65%;    
    }

    .container .filter .button-filter {
        align-self: center;
    }

    .container .cards {
        justify-content: center;
    }

    @media(max-width: 480px) {
        .container .filter .cards-categories, .container .price-cards, .container .filter .button-filter {
        width: 100%;
        
    }
    }
